{% extends 'customer_base.html' %}
{% block title %} MyAccount {% endblock %}
{% block content %}
  <h1>Hello, {{ user.username|default:'Guest' }}</h1><br>
  <div class="row">
    <div class="col-8">
      <dl class="row">
        <dt class="col-6">Имя</dt>
        <dd class="col-6">{{ user.first_name }}</dd>
        <dt class="col-6">Фамилия</dt>
        <dd class="col-6">{{ user.last_name }}</dd>
        <dt class="col-6">Пароль</dt>
        <dd class="col-6">*******</dd>
        <dt class="col-6">Email</dt>
        <dd class="col-6">{{ user.email }}</dd>
        <dt class="col-6">Номер телефона:</dt>
        <dd class="col-6">{{ user.profile.phone_number }}</dd>
        <dt class="col-6">Группа:</dt>
        <dd class="col-6">{{ user.profile.group }}</dd>
        <dt class="col-6">Адресс:</dt>
        <dd class="col-6">{{ user.profile.profile_address }}</dd>
      </dl>
    </div>
  <div class="col-4 text-center"><img src="https://via.placeholder.com/300x300" width="150" alt="Изображение"></div>
  </div>
  <a href="password_change/" class="btn btn-outline-warning">Change my password</a> <a href="{% url 'update_profile' %}" class="btn btn-outline-info">Edit my profile</a>
{% endblock %}