{% extends 'auth_base.html' %}
{% block title %}Password change{% endblock %}
{% load static %}
{% block css %}<link rel="stylesheet" href="{% static 'singin.css' %}">{% endblock %}
{% block content %}
  <div class="card">
    <article class="card-body">
      <h4 class="card-title mb-4 mt-1">Change my password</h4>
      {% if form.errors %}
        <div class="alert alert-warning" role="alert">Warning</div>
      {% endif %}
      <form method="post">
      {% csrf_token %}
        <div class="form-group">
          <label>Old password*</label>
          <input name="old_password" class="form-control" placeholder="******" type="password" autofocus autocomplete="current-password" required>
        </div> <!-- form-group// -->
        <div class="form-group">
          <label>New password*</label>
          <input class="form-control" placeholder="******" type="password" required name="new_password1" autocomplete="new-password">
        </div> <!-- form-group// -->
        <div class="form-group">
          <label>Check new password*</label>
          <input class="form-control" placeholder="******" type="password" required name="new_password2" autocomplete="new-password">
        </div> <!-- form-group// -->
        <div class="form-group">
          <input type="submit" class="btn btn-dark btn-block" value="Change my password">
        </div> <!-- form-group// -->
      </form>
    </article>
  </div> <!-- card.// -->

{% endblock %}