{% extends 'auth_base.html' %}
{% block title %}Password reset done{{ object.name }}{% endblock %}
{% load static %}
{% block css %}<link rel="stylesheet" href="{% static 'password_reset.css' %}">{% endblock %}
{% block content %}
  <div class="container padding-bottom-3x mb-2 mt-5">
    <div class="row justify-content-center">
      <div class="col-lg-8 col-md-10">
        <div class="forgot">
          <h2 class="text-success">Success!</h2><br>
          <p>We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.</p>
          <p>If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.</p>
          <a href="/accounts/login" class="btn btn-outline-dark">Back to login</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}