{% extends 'auth_base.html' %}
{% block title %}Password reset done{{ object.name }}{% endblock %}
{% load static %}
{% block css %}<link rel="stylesheet" href="{% static 'password_reset.css' %}">{% endblock %}
{% block content %}
  <div class="container padding-bottom-3x mb-2 mt-5">
    <div class="row justify-content-center">
      <div class="col-lg-8 col-md-10">
        <div class="forgot">
          <h2 class="text-success">Password changed successfully!</h2><br>
          <p>Your password has been changed.</p>
          <a href="/accounts/login" class="btn btn-outline-dark">Back to login</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}