{% extends 'customer_base.html' %}
{% block title %}Order{% endblock %}
{% block content %}
  <div class="row mt-3">
    <div class="col-md-4 order-md-2 mb-4">
      <h4 class="d-flex justify-content-between align-items-center mb-3">
        <span>Your cart</span>
        <span class="badge badge-secondary badge-pill">{{ object.cart.books.all.count }}</span>
      </h4>
      <ul class="list-group mb-3">
        {% for book_in_cart in object.cart.books.all %}
          <li class="list-group-item d-flex justify-content-between lh-condensed">
            <div>
              <h6 class="my-0">{{ book_in_cart.book.name }}</h6>
              <small class="text-muted">{{ book_in_cart.book.author.all.first }}</small>
            </div>
            <span class="text-muted">{{ book_in_cart.book.price }} BLR <br><div class="text-right ">x{{ book_in_cart.quantity }}</div></span>
          </li>
        {% endfor %}
        <li class="list-group-item d-flex justify-content-between bg-light">
          <div class="text-success">
            <h6 class="my-0">Promo code</h6>
            <small>EXAMPLECODE</small>
          </div>
          <span class="text-success">-$5</span>
        </li>
        <li class="list-group-item d-flex justify-content-between">
          <span>Total price (BLR)</span>
          <strong>{{ object.cart.total_price }}</strong>
        </li>
      </ul>
      <form class="card p-2">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Promo code">
          <div class="input-group-append">
            <button type="submit" class="btn btn-secondary">Redeem</button>
          </div>
        </div>
      </form>
    </div>
    <div class="col-md-8 order-md-1">
      <div class="row">
        <div class="col-6"><h4>Your account</h4></div>
        <div class="col-6 text-right"><a class="btn btn-outline-dark" href="{% url 'update_profile' %}">Edit my profile</a></div>
      </div>
      <hr>
      <div class="row">
        <div class="col-3">
          <label>Name</label>
        </div>
        <div class="col-9">
          <p>{{ user.first_name }} {{ user.last_name }}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-3">
          <label>Email</label>
        </div>
        <div class="col-9">
          <p>{{ user.email }}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-3">
          <label>Phone</label>
        </div>
        <div class="col-9">
          <p>{{ user.profile.phone_number }}</p>
        </div>
      </div>
      <hr class="mb-4">
      <div class="row">
        <div class="col-6"><h4>Addresses</h4></div>
        <div class="col-6 text-right"><a class="btn btn-outline-success" href="{% url 'create_address' %}">Create new address</a></div>
      </div>
      <hr>
      <form class="needs-validation" novalidate action="" method="post">
        {% csrf_token %}
        <div class="row">
          {% for address in user.profile.profile_address.all %}
            <div class="col-6" id="accordion">
              <div class="card border-dark mb-3" style="max-width: 18rem;">
                <div class="card-header">
                  <div class="row">
                    <div class="col-9 mt-2">
                      <div class="custom-control custom-radio">
                        <input id="Address{{ forloop.counter }}" name="address" value="{{ address.pk }}" type="radio" class="custom-control-input"
                               required {% if forloop.counter == 1 %}checked{% endif %}>
                        <label class="custom-control-label" for="Address{{ forloop.counter }}">
                          <a class="card-link text-dark" data-toggle="collapse" href="#collapse{{ forloop.counter }}">
                          Address {{ forloop.counter }}</a>
                        </label>
                      </div>
                    </div>
                    <div class="col-3">
                      <a href="{% url 'update_address' forloop.counter %}" class="btn btn-outline-dark"><i class="far fa-edit"></i></a>
                    </div>
                  </div>
                </div>
                <div id="collapse{{ forloop.counter }}" class="collapse" data-parent="#accordion">
                <div class="card-body text-dark">
                  <p class="card-text">
                    Страна: {{ address.country }}<br>
                    Город: {{ address.city }}<br>
                    Индекс: {{ address.index }}<br>
                    Адрес1: {{ address.address1 }}<br>
                    Адрес2: {{ address.address2 }}<br>
                  </p>
                </div>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
        <hr class="mb-4">
        <div class="row">
          <div class="col-6"><h4>Payment</h4></div>
          <div class="col-6 text-right"><a class="btn btn-outline-success" href="{% url 'create_card' %}">Add card</a></div>
        </div>
        <hr>
        <div class="d-block my-3">
          <div class="custom-control custom-radio">
            <input id="credit" name="paymentMethod" type="radio" value="Cash" class="custom-control-input" checked required>
            <label class="custom-control-label" for="credit">Наличные</label>
          </div>
        </div>
        <div class="row">
          {% for card in user.profile.credit_cards.all %}
            <div class="col-6" id="accordion_card">
              <div class="card border-dark mb-3" style="max-width: 18rem;">
                <div class="card-header">
                  <div class="row">
                    <div class="col-9 mt-2">
                      <div class="custom-control custom-radio">
                        <input id="Card{{ forloop.counter }}" name="paymentMethod" value="Card" type="radio" class="custom-control-input"
                               required>
                        <label class="custom-control-label" for="Card{{ forloop.counter }}">
                          <a class="card-link text-dark" data-toggle="collapse" href="#collapse_card{{ forloop.counter }}">
                          Card {{ forloop.counter }}</a>
                        </label>
                      </div>
                    </div>
                    <div class="col-3">
                      <div class="btn-group" role="group" aria-label="Basic example">
                        <form action="{% url 'delete_card' %}" method="post">
                          {% csrf_token %}
                        <button type="submit" name="pk" value="{{ card.pk }}" class="btn btn-outline-dark"><i class="far fa-trash-alt"></i></button>
                        </form>
                        </div>
                    </div>
                  </div>
                </div>
                <div id="collapse_card{{ forloop.counter }}" class="collapse" data-parent="#accordion_card">
                <div class="card-body text-dark">
                  <p class="card-text">
                    Номер: {{ card.number }}<br>
                  </p>
                </div>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
        <hr class="mb-4">
        <button class="btn btn-dark btn-lg btn-block" type="submit">Continue to checkout</button>
      </form>
    </div>
  </div>
{% endblock %}
