{% extends 'customer_base.html' %}
{% block title %}Order{% endblock %}
{% load static %}
{% block css %}
  <link rel="stylesheet" href="{% static 'update_status_order.css' %}">
{% endblock %}
{% block content %}
  <div class="container mt-4">
    <article class="card">
      <div class="card-body">
        <h6>Order ID: {{ object.pk }}</h6>
        <article class="card">
          <div class="card-body row">
            <div class="col"> <strong>Date order:</strong> <br> {{ object.cart.order.date_add|date:'d.m.Y' }}</div>
            <div class="col"> <strong>Customer:</strong> <br> <a href="{% url 'profile_by_pk' object.cart.customer.pk %}">{{ object.cart.customer.first_name }} {{ object.cart.customer.last_name }}</a>
              <br> <i class="fa fa-phone"></i> {{ object.cart.customer.profile.phone_number }} </div>
            <div class="col"> <strong>Status:</strong> <br> {{ object.get_delivery_status_display }} </div>
            <div class="col"> <strong>Last change:</strong> <br> {{ object.cart.order.date_last_change|date:'d.m.Y' }} </div>
          </div>
        </article>
        <div class="track">
          <div class="step {% if object.delivery_status == '4' or object.delivery_status == '5' or object.delivery_status == '6' %} active {% endif %}"> <span class="icon"> <i class="fa fa-check"></i> </span> <span class="text">Order confirmed</span> </div>
          <div class="step {% if object.delivery_status == '5' or object.delivery_status == '6' %} active {% endif %}"> <span class="icon"> <i class="fa fa-truck"></i> </span> <span class="text"> On the way </span> </div>
          <div class="step {% if object.delivery_status == '6' %} active {% endif %}"> <span class="icon"> <i class="fa fa-box"></i> </span> <span class="text">Ready for pickup</span> </div>
        </div>
        <hr>
        <ul class="row">
          {% for book in object.cart.books.all %}
            <li class="col-md-4">
              <figure class="itemside mb-3">
                <a href="/books/{{ book.book.pk }}">
                  <div class="aside"><img {% if book.book.photo %} src="{{ book.book.photo.url }}" {% else %} src="https://via.placeholder.com/2000x3000" {% endif %} class="img-sm border"></div>
                </a>
                  <figcaption class="info align-self-center">
                    <p class="title">{{ book.book.name }} <br> x{{ book.quantity }}</p> <span class="text-muted">{{ book.price }} BLR</span>
                  </figcaption>
              </figure>
            </li>
          {% endfor %}
        </ul>
        <div class="row">
          <div class="col-6">
            {% if object.comment %}
              Комментарий к заказу: {{ object.comment }}
            {% endif %}
          </div>
          <div class="col-6">
            <div class="text-right font-weight-bold">Total price: {{ object.cart.total_price }} BLR</div>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-6">
            <a href="{% url 'order:order_list' %}" class="btn btn-warning" data-abc="true"> <i class="fa fa-chevron-left"></i> Back to orders</a>
          </div>
          <div class="col-6 text-right">
            <form action="{% url 'order:cancel_order' object.pk %}" method="post" style="display: inline-block">
            {% csrf_token %}
              <button type="submit" class="btn btn-outline-danger">Cancel order</button>
            </form>
          </div>
        </div>
      </div>
    </article>
  </div>
{% endblock %}