{% extends 'customer_base.html' %}
{% block title %}Книга: {{ object.name }}{% endblock %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'book_comment.css' %}">
{% endblock %}
{% block content %}
  <h1>{{ object.name }}</h1><br>
  <div class="row">
    <div class="col-8">
      <dl class="row">
        <dt class="col-6">Цена</dt>
        <dd class="col-6">{{ object.price }}</dd>
        <dt class="col-6">Автор(ы)</dt>
        <dd class="col-6">{% for author in object.author.all %}{{ author }} {% endfor %}</dd>
        <dt class="col-6">Серия</dt>
        <dd class="col-6">{{ object.series }}</dd>
        <dt class="col-6">Жанр(ы)</dt>
        <dd class="col-6">{% for genre in object.genre.all %}{{ genre }} {% endfor %}</dd>
        <dt class="col-6">Год</dt>
        <dd class="col-6">{{ object.year }}</dd>
        <dt class="col-6">Страниц</dt>
        <dd class="col-6">{{ object.page }}</dd>
        <dt class="col-6">Переплет</dt>
        <dd class="col-6">{{ object.binding }}</dd>
        <dt class="col-6">Формат</dt>
        <dd class="col-6">{{ object.book_format }}</dd>
        <dt class="col-6">ISBN</dt>
        <dd class="col-6">{{ object.isbn }}</dd>
        <dt class="col-6">Вес</dt>
        <dd class="col-6">{{ object.weight }}</dd>
        <dt class="col-6">Возрастное ограничение</dt>
        <dd class="col-6">{{ object.age_limit }}</dd>
        <dt class="col-6">Издательство</dt>
        <dd class="col-6">{{ object.publisher }}</dd>
        <dt class="col-6">Количество книг в наличии</dt>
        <dd class="col-6">{{ object.number_of_books }}</dd>
        <dt class="col-6">Доступен для заказа</dt>
        <dd class="col-6">{% if book.active == True %} <i class="fas fa-check"></i> {% else %} <i class="fas fa-times"></i> {% endif %}</dd>
        <dt class="col-6">Рейтинг</dt>
        <dd class="col-6">{{ object.rating }}</dd>
      </dl>
    </div>
    <div class="col-4 text-center"><img {% if object.photo %} src="{{ object.photo.url }}" {% else %} src="https://via.placeholder.com/2000x3000" {% endif %} width="300" alt="Изображение"></div>
  </div>

  {% if user.is_staff %}
  <a href="/books/update/{{ object.pk }}" class="btn btn-outline-warning">Обновить</a>
  <a href="/books/delete/{{ object.pk }}" class="btn btn-outline-danger">Удалить</a>
  {% endif %}
<section class="content-item" id="comments">
  <div class="container">
    <div class="row">
      <div class="col">
        {% if user.is_authenticated %}
          <form action="{% url 'comment:create_comment' object.pk %}" method="post">
            {% csrf_token %}
            <h3 class="pull-left">New Comment</h3>
              <fieldset>
                <div class="row">
                  <div class="col-2">
                    <a href="{% url 'myaccount' %}"><img class="img-responsive" style="width: 80px" {% if user.profile.image %} src="{{ user.profile.image.url }}" {% else %} src="https://via.placeholder.com/300x300" {% endif %} alt=""></a>
                  </div>
                  <div class="col-10" style="margin-left: -30px;">
                    <textarea style="resize: none; width: 775px;" name="comment" class="form-control" id="message" placeholder="Your message" required=""></textarea>
                  </div>
                </div>
              </fieldset>
            <button type="submit" class="btn btn-dark pull-right">Submit</button>
          </form>
        {% endif %}
        <h3>Comments {{ object.comments.all.count }} </h3>

        <!-- COMMENT - START -->
        {% for comment in object.comments.all|dictsortreversed:"pk" %}
          <div class="media">
            <a class="pull-left" {% if comment.profile == user.profile %}href="{% url 'myaccount' %}" {% else %}href="{% url 'profile_by_pk' comment.profile.pk %}" {% endif %}><img class="media-object" {% if comment.profile.image %} src="{{ comment.profile.image.url }}" {% else %} src="https://via.placeholder.com/300x300" {% endif %} alt=""></a>
            <div class="media-body">
              <h4 class="media-heading"><a {% if comment.profile == user.profile %}href="{% url 'myaccount' %}" {% else %}href="{% url 'profile_by_pk' comment.profile.pk %}" {% endif %}" class="text-dark">{{ comment.profile.user.first_name }} {{ comment.profile.user.last_name }}</a></h4>
              <p>{{ comment.comment }}</p>
              <div class="row">
                <div class="col">
                  <span class="text-muted" style="font-size: 13px"><i class="fa fa-calendar"></i> {{ comment.date_last_change }}</span>
                </div>
                <div class="col text-right">
                  {% if comment.profile.user == user or user.is_staff %}
                    <a href="{% url 'comment:update_comment' comment.pk %}" style="margin-top: -5px" class="btn btn-sm btn-secondary">Update</a>
                    <form method="post" action="{% url 'comment:delete_comment' comment.pk %}" style="display: inline-block">
                      {% csrf_token %}
                      <button type="submit" class="btn btn-sm btn-dark" style="margin-top: -5px">Delete</button>
                    </form>
                  {% endif %}
                </div>
                </ul>
              </div>
            </div>
          </div>
        {% endfor %}
        <!-- COMMENT - END -->
      </div>
    </div>
  </div>
</section>
{% endblock %}