{% extends 'customer_base.html' %}
{% block title %} Список книг {% endblock %}
{% block content %}
    <h1>Список книг: </h1>
<table class="table table-striped text-center" >
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Название книги</th>
      <th scope="col">Цена</th>
      <th scope="col">Год</th>
      <th scope="col">В наличии</th>
      <th scope="col">Рейтинг</th>
      <th scope="col">Доступен для продажи</th>
      <th {% if user.is_authenticated %} scope="col"><a href="create/" class="btn btn-outline-success"><i class="far fa-plus-square"></i></a>{% else %}-</th>{% endif %}
    </tr>
  </thead>
  <tbody>
    {% for obj in object_list %}
    <tr>
      <th scope="row">{{ obj.pk }}</th>
      <td>{{ obj.name }} </td>
      <td>{{ obj.price }} </td>
      <td>{{ obj.year }} </td>
      <td>{{ obj.number_of_books }} </td>
      <td>{{ obj.rating }} </td>
      <td>{% if obj.active == True %} <i class="fas fa-check"></i> {% else %} <i class="fas fa-times"></i> {% endif %} </td>
      <td><a href="{{ obj.pk }}" class="btn btn-outline-info"><i class="far fa-eye"></i></a> {% if user.is_authenticated %}<a href="update/{{ obj.pk }}" class="btn btn-outline-warning"><i class="far fa-edit"></i></a> <a href="delete/{{ obj.pk }}" class="btn btn-outline-danger"><i class="far fa-trash-alt"></i></a>{% endif %}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}