{% extends 'customer_base.html' %}
{% block title %}BookShop{% endblock %}
{% block exchanges %}
  <div class="btn-group dropleft">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Курс {{ base_rate }}
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    {% for key, value in all_rate.items %}
    <div class="dropdown-item">{{ key }} - {{ value }}</div>
      {% endfor %}
  </div>
  </div>
{% endblock %}
    {% block content %}
    <div class="row">
        <div class="col-lg-12 my-4 ">
            <div id="carouselExampleCaptions" class="carousel slide carousel-fade" data-ride="carousel">
              <ol class="carousel-indicators">
                <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
                <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
              </ol>
              <div class="carousel-inner">
                <div class="carousel-item active">
                    <a href="books/"><img src="https://i.imgur.com/ODkT0L6.png" class="d-block w-100" alt="..."></a>
                  <div class="carousel-caption d-none d-md-block">
                      <p><a href="books/" class="text-white">Перейти к списку книг</a></p>
                  </div>
                </div>
                <div class="carousel-item">
                    <a href="references/"><img src="https://i.imgur.com/WwXM13Z.png" class="d-block w-100" alt="..."></a>
                  <div class="carousel-caption d-none d-md-block">
                      <p><a href="references/" class="text-white">Перейти к списку словарей</a></p>
                  </div>
                </div>
                <div class="carousel-item">
                    <a href="books/{{ object_list.first.pk }}"><img src="https://i.imgur.com/k9q82qq.png" class="d-block w-100" alt="..."></a>
                  <div class="carousel-caption d-none d-md-block">
                      <p><a href="books/{{ object_list.first.pk }}" class="text-white">Последняя добавленная книга</a></p>
                  </div>
                </div>
              </div>
              <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
        </div>

      <div class="col-lg-12">

        <h3>Последние добавленные книги: </h3>
        <div class="row new-content">
          {% for obj in object_list %}
         <div class="col-3">
             <div class="content"> <a href="/books/{{ obj.pk }}">
                     <div class="content-overlay"></div> <img class="content-image" {% if obj.photo %} src="{{ MEDIA_URL }}{{ obj.photo.url }}"{% else %} src="http://placehold.it/2000x3000" {% endif %} alt="Обложка фото">
                     <div class="content-details fadeIn-bottom">
                         <h3 class="content-title">{{ obj.name }}</h3>
                         <p class="content-text">
                         Автор: {{ obj.author.all.first }} <br>
                         Рейтинг: {{ obj.rating }} <br>
                         Цена: {{ obj.price }} BYN</p>
                         <a href="{% url 'cart:cart_index' %}?book={{ obj.pk }}" class="btn btn-outline-light"><i class="fas fa-shopping-cart"></i></a>
                     </div>
                 </a> </div>
         </div>
        {% endfor %}

        </div>
        <!-- /.row -->
        {% include 'paginator.html' %}
      </div>
      <!-- /.col-lg-9 -->

    </div>
    <!-- /.row -->
  {% endblock %}
