{% extends 'customer_base.html' %}
{% block title %} Словари {% endblock %}
{% block content %}
  <h1 class="text-center">Словари</h1>
  <div class="row">
    <div class="col-lg-3 col-md-6 mb-6">
      <div class="card" style="width: 13rem;">
        <div class="card-header">
          <a href="genre">Жанры книг</a>
        </div>
        <ul class="list-group list-group-flush">
          {% for genre in genres %}
          <li class="list-group-item"><a href="genre/{{ genre.pk }}">{{ genre.name }}</a></li>
          {% endfor %}
        </ul>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 mb-6">
      <div class="card" style="width: 13rem;">
        <div class="card-header">
          <a href="author">Авторы книг</a>
        </div>
        <ul class="list-group list-group-flush">
          {% for author in authors %}
          <li class="list-group-item"><a href="author/{{ author.pk }}">{{ author.name }}</a> </li>
          {% endfor %}
        </ul>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 mb-6">
      <div class="card" style="width: 13rem;">
        <div class="card-header">
          <a href="series">Серии книг</a>
        </div>
        <ul class="list-group list-group-flush">
          {% for series in seriess %}
          <li class="list-group-item"><a href="series/{{ series.pk }}">{{ series.name }}</a></li>
          {% endfor %}
        </ul>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 mb-6">
      <div class="card" style="width: 13rem;">
        <div class="card-header">
          <a href="publisher">Издательства книг</a>
        </div>
        <ul class="list-group list-group-flush">
          {% for publisher in publishers %}
          <li class="list-group-item"><a href="publisher/{{ publisher.pk }}">{{ publisher.name }}</a></li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
{% endblock %}
