{% extends 'customer_base.html' %}
{% block title %} {{ header }} {% endblock %}
{% block content %}
  <h1>{{ header }}</h1>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Имя</th>
        <th scope="col">Описание</th>
        <th scope="col"> {% if user.is_staff %} <a href="create/" class="btn btn-outline-success"><i class="far fa-plus-square"></i></a> {% else %}{% endif %}</th>
      </tr>
    </thead>
    <tbody>
      {% for obj in object_list %}
        <tr>
          <th scope="row">{{ obj.pk }}</th>
          <td>{{ obj.name }} </td>
          <td>{% if obj.description %} <i class="fas fa-check"></i> {% else %}<i class="fas fa-times"></i>{% endif %}</td>
          <td><a href="{{ obj.pk }}" class="btn btn-outline-info"><i class="far fa-eye"></i></a> {% if user.is_staff %} <a href="update/{{ obj.pk }}" class="btn btn-outline-warning"><i class="far fa-edit"></i></a> <a href="delete/{{ obj.pk }}" class="btn btn-outline-danger"><i class="far fa-trash-alt"></i></a>{% endif %}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  {% include 'paginator.html' %}
{% endblock %}