{% extends 'hello_world/homepage.html' %}
{% block title %} {{ object.name }} {% endblock %}
{% block content %}
    <h1>{{ object.name }}</h1>
    {% if object.description %}
    <h4>Описание: {{ object.description }}</h4>
    {% endif %}
    <a href="/references/{{ type }}/update/{{ object.pk }}" class="btn btn-warning">Обновить</a> <a href="/references/{{ type }}/delete/{{ object.pk }}" class="btn btn-danger">Удалить</a><br><br><br><br>
    <h3>Книги:</h3>
<table class="table table-striped text-center">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Название книги</th>
        <th scope="col">Цена</th>
        <th scope="col">Год</th>
        <th scope="col">В наличии</th>
        <th scope="col">Рейтинг</th>
        <th scope="col">Доступен для продажи</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
      {% for book in object.books.all %}
    <tr>
      <th scope="row">{{ book.pk }}</th>
      <td>{{ book.name }} </td>
        <td>{{ book.price }} </td>
        <td>{{ book.year }} </td>
        <td>{{ book.number_of_books }} </td>
        <td>{{ book.rating }} </td>
        <td>{% if book.active == True %} <i class="fas fa-check"></i> {% else %} <i class="fas fa-times"></i> {% endif %}</td>
      <td><a href="/books/{{ book.pk }}" class="btn btn-info"><i class="far fa-eye"></i></a> <a href="/books/update/{{ book.pk }}" class="btn btn-warning"><i class="far fa-edit"></i></a> <a href="/books/delete/{{ book.pk }}" class="btn btn-danger"><i class="far fa-trash-alt"></i></a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}